{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": "off",
    "no-eval": ["off", {"allowIndirect": true}],
    "no-param-reassign": "warn",
    "no-unused-vars": "warn"
  },
  "env": {
    "browser": true,
    "node": true
  }
}